<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  https://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/mvc
  https://www.springframework.org/schema/mvc/spring-mvc.xsd
  http://mybatis.org/schema/mybatis-spring
  http://mybatis.org/schema/mybatis-spring.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:property-placeholder location="classpath:supermarket.properties"/>
    <!--  配置注解扫描，让spring容器在初始化的时候，扫描指定包路径下的所有类，管理被注解标记的bean-->
    <context:component-scan base-package="club.banyuan"/>

    <!--  扫描requestMapping 让处理url的路径配置生效 -->
    <mvc:annotation-driven/>

    <!--  重新映射静态资源路径，使得浏览器的url不需要在路径上增加pages即可访问页面-->
    <mvc:resources mapping="/**" location="/pages/"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <!--  /**/*.html =>  /home_page.html  /abc/home_page.html    -->
            <!--  /*/*.html =>  /abc/home_page.html  无法匹配/home_page.html -->
            <!-- /server/user/login -->
            <mvc:mapping path="/**/*.html"/>
            <mvc:mapping path="/server/**"/>
            <mvc:exclude-mapping path="/**/login.html"/>
            <mvc:exclude-mapping path="/**/form_post_fail.html"/>
            <mvc:exclude-mapping path="/server/user/login"/>
            <bean class="club.banyuan.common.AuthInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- mybatis -->

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${driver}"/>
        <property name="jdbcUrl" value="${url}"/>
        <property name="user" value="${name}"/>
        <property name="password" value="${password}"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath*:mapper/*.xml"/>
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
    </bean>

    <!-- 使 spring 能够获得 dao -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--    多个包路径使用,隔开-->
        <property name="basePackage"
                  value="
                  club.banyuan.user.dao
                  club.banyuan.provider.dao
                  club.banyuan.bill.dao
                  "/>
    </bean>

    <aop:aspectj-autoproxy proxy-target-class="true"/>

</beans>